.todo_item {
  display: flex;
  align-items: center;
  border: aliceblue 1px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.todo_item_text {
  width: 80%;
  padding: 0 5px 0 5px;
  align-items: center;
}
